
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
    color: #fff;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  header nav a:hover {
    color: #87ceeb;
  }
  
  /* Main Styles */
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  
  /* ... */

section {
    background-color: #fff;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%; /* added this to make all sections the same width */
    margin: 20px auto; /* added this to center the sections */
  }
  
  #education, #skills, #volunteer {
    height: 250px; /* added this to make all sections the same height */
    overflow-y: auto; /* added this to make the sections scrollable if the content is too long */
  }
  h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Responsive Design */
  
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
    section {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    header {
      flex-direction: column;
    }
    header nav {
      flex-direction: column;
    }
    header nav ul {
      flex-direction: column;
    }
    header nav li {
      margin-bottom: 10px;
    }
  }